body {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  overflow-y: scroll;
  overflow-y: auto;
}

#cart-page-container {
  width: 95%;

  top: 0;
  max-width: 1100px;

  margin-top: 70px;
}

#cart-page-header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  background-color: rgb(255, 253, 250);
  max-width: 1100px;
  z-index: 999;
}

#logo2 {
  margin-bottom: 5px;
}

#checkoutItems {
  font-size: 22px;
  font-weight: 500;
  white-space: nowrap;
}

.cartCountDisplay {
}

#checkoutSecureIcon {
  margin-right: 15px;
  margin-top: 3px;
}

#logo2 {
  margin-left: 15px;
  margin-top: 12px;
  width: 92px;
  cursor: pointer;
}

#cart-page-content {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}
#cart-page-content #cart-page-content-title {
  flex-basis: 100%;
  font-size: 18px;
  font-weight: 600;
}

#cart-page-content-products {
  width: 65%;
}

#checkout {
  flex: 1;
}

#cart-page-content-review {
  border: 1px solid rgb(231, 231, 231);
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(63, 63, 63, 0.1);
  height: 220px;
  transition: transform 0.2s ease-in-out;
  margin-bottom: 5px;
}

#cart-page-content-review:hover {
  transform: scale(1.009);
  transition: transform 0.1s ease-in-out;
}

#cart-page-content-review {
  display: grid;
  grid-template-rows: 50px repeat(2, 200px);
}
.cart-page-content-review-header {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 12px;
  font-size: 18px;
  color: rgb(41, 128, 19);
  font-weight: 600;
}
#cart-page-content-review-details {
  flex: 1;

  width: 65%;
}

.cart-page-content-review-delivery {
  margin-left: 5px;
  margin-right: 5px;
  flex: 1;
}

#cart-page-content-review-details,
.cart-page-content-review-delivery {
  grid-row: 2 / 3;
}

#cart-page-content-review-details {
  width: 380px;
  display: flex;
}
.cart-product-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  padding: 5px 20px;
}

.cart-product-picture {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

#cart-product-details {
  display: flex;
  flex-direction: column;
  gap: 7px;
  flex: 1;
}

.proName {
  max-width: 250px;
  font-weight: 600;
}

#cart-product-quantity-container {
  display: flex;
  gap: 10px;
}

.cart-delivery-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.delivery-header {
  margin-bottom: 5px;
  font-weight: 600;
}

#cart-product-quantity {
  margin-right: 3px;
}
.cart-update-quantity,
.cart-delete-quantity {
  background-color: transparent;
  cursor: pointer;
  color: rgb(49, 118, 173);
  font-size: 14px;
}

#delivery-header {
  margin-bottom: 10px;
}

.delivery-option-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 5px;
}

#cart-product-delivery-date,
#cart-product-shipping-date {
  font-weight: 500;
}

.price {
  font-weight: 600;
  color: rgb(151, 12, 12);
}

#cart-product-delivery-date {
  color: rgb(28, 136, 28);
}

#cart-product-shipping-date {
  color: rgb(94, 94, 94);
}

#cart-delivery-selector {
  cursor: pointer;
}

#checkout {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(63, 63, 63, 0.1);
  position: relative;
  height: 250px;
}

#checkout-header-section {
  display: flex;
  height: 15%;
  justify-content: left;
  font-weight: 600;
  align-items: center;
  font-size: 16px;
}

#checkout-middle-section {
  display: flex;
  height: 50%;
}

#checkout-total-section {
  flex: 1;
}

#checkout-middle-section-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  position: relative;
  gap: 10px;
}

#checkout-middle-section-right {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  gap: 10px;
  position: absolute;
  right: 20px;
}

#place-order-button {
  background-color: rgb(255, 216, 20);
  margin-top: 20px;
  padding: 10px;
  width: 95%;
  position: absolute;
  bottom: 15px;
  margin: 0 auto;
  margin-top: 20px;
  display: block;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(143, 139, 139, 0.3);
  font-weight: 400;
}
#place-order-button:hover {
  background-color: rgb(240, 207, 22);
}

#place-order-button:active {
  background-color: rgb(255, 216, 20);
}

.cart-product-quantity-input-hide {
  display: none;
  width: 60px;
}

#buyProductsText {
  margin-bottom: 7px;
  font-weight: 400;
}

#cart-header-middle-section {
  left: 50%;
  margin-left: 50px;
  transform: translateX(-50%);
}

.cart-product-quantity-input-show {
  background-color: white;
  padding: 0px 4px;
  margin: 0;
  display: inline;
  width: 40px;
  border-radius: 2px;
  border: 1px solid rgb(107, 105, 105);
  font-size: 14px;
}

.cart-product-product-quantity-number-hide {
  display: none;
}

#order-total,
#total {
  font-weight: 600;
  color: rgb(139, 37, 37);
  border-top: 1px solid rgb(230, 229, 229);
  padding-top: 10px;
  font-size: 17px;
  overflow: visible;
}

#totalBeforeTax {
  border-top: 1px solid rgb(230, 229, 229);
}

#order-totalBeforeTax,
#totalBeforeTax {
  padding-top: 7px;
}
.product-price-currency {
  display: inline;
  font-weight: 500;
}

.product-price {
  display: inline;
}

#cart-product-quantity-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

#emptyCart {
  display: flex;
  flex-direction: column;
  align-items: left;

  gap: 5px;
}

#buyProductsButton {
  padding: 10px 30px;
  background-color: rgb(255, 216, 20);
  border-radius: 8px;
  font-size: 18px;
  width: 130px;
  height: 40px;
  text-align: center;
  padding: 0px;
}

#buyProductsText {
  font-weight: 300;
  font-size: 18px;
}

.cart-product-details-first-section {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.cart-product-product-quantity-number-hide {
  display: none;
}

.cart-product-product-quantity-number {
  margin-right: 30px;
}

@media screen and (max-width: 910px) {
  #cart-page-header {
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 253, 250);
    z-index: 999; */
  }

  #checkoutItems {
    font-size: 18px;
  }
  #cart-page-content {
    flex-direction: column;
    align-items: center;
  }

  #cart-page-content > div {
    width: 90%;
    min-width: 320px;
    max-width: 500px;
  }

  #cart-page-content-products {
    /* width: 400px; */
    order: 3;
  }

  #cart-page-content {
    align-items: center;
  }

  #cart-page-container {
    /* width: 80%; */

    top: 0;
    max-width: 1100px;
    height: 100vh;
  }

  #cart-page-content-title {
    width: 400px;
  }
  #checkout {
    padding: 0px 0px;
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
  }

  #checkout-middle-section-left {
    margin-left: 8px;
  }

  #checkout-middle-section-right {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    gap: 10px;
    position: absolute;
    right: 20px;
  }

  #place-order-button {
    background-color: rgb(255, 216, 20);
    margin-top: 20px;
    padding: 10px;
    width: 95%;
    bottom: 15px;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(143, 139, 139, 0.3);
  }

  #orderButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #checkout-header-section {
    display: flex;
    height: 40px;
    justify-content: left;
    align-items: center;
    margin-left: 8px;
  }

  #checkout-middle-section {
    display: flex;
    height: 220px;
  }

  #cart-page-content-review {
    height: 350px;
    display: flex;
    flex-direction: column;

    margin-right: 0px;
  }

  .cart-page-content-review-header {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 12px;
    font-size: 16px;
    color: rgb(5, 88, 5);
    font-weight: 600;
    height: 50px;
  }
  #cart-page-content-review-details {
    padding-top: 10px;

    flex: 1;
    width: 60%;
  }
  .cart-page-content-review-delivery {
    padding-bottom: 10px;
    margin-left: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  #cart-page-content-review-details {
    width: 100%;

    display: flex;
  }

  #cart-product-quantity-container {
    display: flex;
    flex-direction: row;
    gap: 7px;
  }

  #cart-product-quantity {
  }

  #logo2 {
    margin-left: 15px;
    margin-top: 12px;
    width: 80px;
    cursor: pointer;
  }

  #cart-page-content-review {
    height: 400px;
  }

  .cart-product-details-first-section {
    gap: 3px;
  }
}

@media screen and (max-width: 900px) {
  #cart-product-quantity-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row;
  }

  #cart-product-quantity-container > div:first-child {
    flex-basis: 100%;
  }
  .proName {
    width: 100%;

    max-width: none;
  }

  .delivery-header {
    /* margin-top: 5px; */
    font-weight: 600;
  }
}

#logo2-mobile {
  visibility: hidden;
}

@media screen and (max-width: 400px) {
  .cart-delivery-container {
    gap: 0px;
  }

  #cart-product-quantity-container {
    gap: 10px;
  }

  #logo2 {
    display: none;
  }

  #logo2-mobile {
    visibility: visible;
  }

  #cart-page-header {
    margin-top: 2px;
  }

  #logo2-mobile {
    width: 30px;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 70px;
  }
  #checkoutItems {
    margin-right: 0px;
  }

  #cart-header-left-section {
    width: 125px;
  }
}
