* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Roboto", sans-serif, Arial;
  font-weight: 400;
}

html {
  font-size: 15px;
}

button {
  cursor: pointer;
}

.product-price-currency {
  display: inline-block;
  margin-right: 5px;
}
